
.achievementsbody {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Use full screen height to center vertically */
  background-color: transparent; /* No background */

}


body, html {
  height: 100vw;
  margin: 0;
}


.swiper-container {
  width: 80%;
  margin-top: 0.5rem;
  max-width: 80vw;
}


.swiper-slide {
  justify-content: center;
  text-align: center;
  /* make color light blue with 10% transparency */
  background-color: rgba(4, 0, 48, 0);
  border-radius: 8px; /* Rounded corners for a modern look */
  outline: 1.4px solid rgb(255, 255, 255); /* Subtle shadow for depth */
  padding: 20px; /* Padding for content inside slides */
  
  margin-bottom: 3vw;
}



/* Navigation and Pagination customization for a neater look */
.swiper-button-prev, .swiper-button-next {
  color: #fff;
}

.swiper-pagination-bullet {
  background: #000;
}

/* Path: Cachievements.css */



.static-text {
  text-align: center; /* Center the text */

  
  position: relative;
  z-index: -1;
  margin-top: 20px;
  padding: 10px; /* Add some padding around the text */
  /* Add any other styles you want, like background color, margins, etc. */
}

.static-text em {
  font-style: italic;
  /* Add any other styles for the italic text */
}


/* Center the content of .carousel-item vertically and horizontally */



@media (max-width: 800px) {

.swiper-container{
  padding-top: 3%;
}


  
}