@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body, html {
  overflow-y: visible;
}

.container{
  display: flex;
  justify-content: center;
  height: auto;
  
  
}

h3{
  margin-top: 0.2rem;
}

.content{
  max-width: 30rem;
  width: 100%; /* Ensure full width */
  align-items: center;
  justify-content: center;
  padding-top: 0;
  align-self: flex-start;
}

.contact-icon, .copy-icon {
  
  height: 24px; /* Standardize icon sizes */
  width: auto;  /* Standardize icon sizes */
  padding: 0.8rem 1.6rem;
  margin-right: 10px;
  transition: filter 0.3s ease;
  display: block; /* Ensure block level for proper alignment */
}


#contact-info {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
}
/*
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}*/

.contact-item {
  padding: 0 0;
  border-radius: 10px;
  margin-bottom: 1rem;
  outline: 1.4px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-between; /* Align text to the left and clipboard icon to the right */
  align-items: center;
}

.copy-icon{
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(204, 204, 204);  /* Icon color */
}

.copy-icon-container {
  margin-left: auto;
}

.contact-icon:hover, .copy-icon:hover {
  filter: invert(100%);
}



.copied-message {
  display: none; /* Hide the message by default */
  position: fixed; /* Fixed at the top */
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  /* background-color: #333; */
  /* color: #fff; */
  border-radius: 5px;
  font-size: 0.8rem;
  z-index: 10;
}

/* Show the message */
.contact-item:hover .copied-message {
  opacity: 1;
}



.contact-icon{
  display: block;
  justify-content: right;
  align-items: right;
}
