
.content{
  padding-top: 0.2rem;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Ensure no horizontal overflow */
}

.content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  height: 100vh; /* Full viewport height */
  overflow-x: hidden; /* Disable horizontal overflow */
  
}

.endorsement-container {
  max-width: 30rem;
  width: 100%; /* Ensure full width */
  margin: 0; /* Remove auto margin */
  text-align: center;
  
}

.endorsement-container img {
  z-index: 2;
}

.endorsement-container h3 {
  font-size: 2rem;
  margin: 0;
}

.endorsement {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  outline: 1.4px solid rgb(255, 255, 255);
  color: #fff;
  padding: 0.7rem;
  margin-top: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}



.button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.container {
  height: 100%; /* Use full height to maintain layout */
}

.company-logo {
  margin-right: 0.5rem;
  width: 50px;
  height: 50px;
}

.company-logowide {
  margin-right: 0.5rem;
  width: 120px;
  height: 50px;
}

.endorsement-text {
  position: relative;
  z-index: 2;
  
  flex-grow: 1;
  text-align: right;
}

.endorsement .new-tab-icon {
  display: block;
}

.new-tab-icon {
  display: none;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s;
}

.company-logo {
  max-width: 50px;
  display: block;
}

.endorsement-text {
  
  flex-grow: 1;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .endorsement-container {
    width: 90%;
    margin: 0 auto;
  }

  .company-logo {
    max-width: 80px;
  }
}
