@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
:root {
  --WALLPAPER-color: #0a190e;
  --font-color: #ffffff;
  --font-family: 'Open Sans', sans-serif;
  --font-weight-thin: 300;
}

#ResumeLink{
  outline: 1.4px solid gold; /* Outline color and width */
}

body, html, #animated-text, .H1class  {
font-family: var(--font-family);
font-weight: var(--font-weight-thin); 
}


nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Change this line to align items to the right */
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin-left: 1rem; /* Add this line to add some space between nav items */
}



#homepage-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 2rem;
  /* 2rem under top for desktop */
}

#mainbody {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 1rem;
  /* background-color: var(--WALLPAPER-color); */
  /*resources images PCwall*/
  background-image: url(resources/pcwallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}



.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 40px;
  height: auto;
  align-items: center;
}

#logomain {
  width: 100px;
  height: auto;
  align-items: center;
}

#mainfoot {
  border: #363636;
  text-align: left;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  width: 100%;
  z-index: 200;
  color: var(--font-color);
  font-size: 1rem;
}

.homepage-content {
  color: var(--font-color);
  text-align: right;
  position: fixed;
  justify-content: flex-end;
  align-items: flex-end;
  top: 0%;
  right: 3rem;
  width: 100%;
  z-index: 1000;

}

#homepage-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  position: fixed;
  right: 10px;
  width: 50%;
  z-index: 1;
  top: 2rem;
  /* 2rem under top for desktop */
}

.homepage-content {
  margin-top: 2rem;
  /* Positioning under the navigation bar */
}

.H1class {
  margin-bottom: 0px;
  margin-top: 5px;
}

.home-button {
  background-color: #4343434c;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  margin: 0.5rem;
  display: inline-block;
  border-radius: 1.3rem;
  /* box-shadow: 0 0.125rem 0.125rem #00000045; */
  box-shadow: 0 0 0.5rem #51515145;
  transition: all 0.3s ease-in-out;
}

.home-button:hover {
  outline: 0 !important;
  color: #000000;
  background-color: #00000000;
  box-shadow: none;
}

.H2class {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--font-color);
}

#animated-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid lightblue;
  width: 0;
  animation: typing 1.4s steps(200, end) forwards, blink-caret .75s step-end 3;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 36ch
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: lightblue
  }
}

@media (max-width: 800px) {


  .home-button {
    margin-top: 0.5rem;
    /*lin grad for background color*/
    background: linear-gradient(90deg, #868686aa 0%, #ffffff00 100%);
  }

  .homepage-content {

    width: max-content;
    top: 10rem;
    left: 30%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .home-button {
    padding-left: 1.5rem;
    padding-right: 10rem;
    border-radius: 0px;
  }


  .H2class {
    height: 100vh;
  }

  #animated-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    border-right: .15em solid lightblue;
    width: 0;
    position: absolute;
    top: 6rem;
    /* Positioning 3rem above the bottom */
  }





  p {
    color: var(--font-color);
  }

  #particles-js {
    display: none;
  }

  .indexfooter h1 {
    font-size: 2rem;
  }

  .indexfooter p {
    color: var(--font-color);
  }
}