
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --h3-color: #ffffff; /* Main color for headings */
  --back-color: #29312c; /* Background color */
  --para-color: #bdc3c7; /* Default text color */
  --backtransparent-color: #1d1d1d; /* Background color */
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; 
 
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}


body {
  
  
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fff;
  text-align: center;
}

body p {
  text-align: left;
}

header {
  display: flex;
  align-items: center;
  justify-content: center; /* Changed from space-between to center */
  background: var(--backtransparent-color);
  position: relative;
  width: 100%;
  z-index: 1000;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #ffffff; /* Change to desired background color */
  color: #000;
  border-radius: 24px;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.container {
  max-width: 100%;
  padding: 0 20px;
}

h3 {
  color: var(--h3-color);
}

body {
  position: relative;
  background: var(--back-color);
}

.content p {
  font-size: 1rem;
  color: var(--para-color);
  margin-bottom: 0px;
}

em {
  color: var(--para-color);
}

p {
  color: var(--para-color);
}

.content {
  padding: 1rem 0;
  margin-bottom: 20px;
}

.content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

nav {
  height: 3.2rem; /* Adjust the height as needed */
  width: 100%;
}

nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Align items to the start of the nav */

  list-style: none;
  margin: 0;
}

nav ul li {
  margin-right: 0.8rem; /* Spacing between nav items */
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

nav ul li a.active {
  background-color: #ffffff;
  color: black;
  border-radius: 24px;
  text-decoration: none;
}



@media (max-width: 800px) {
  .secondary-nav {
    margin-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center; /* Adjust as needed */
    gap: 10px; /* Space between buttons */
    font-size: 0.9rem;
  }
  

  nav ul li a:hover {
    background-color: #ffffff; /* Change to desired background color */
    color: #000;
    font-size: 1rem;
    padding: 0.6rem; /* Larger padding for easier touch */
    margin-bottom: 0.5rem;
    margin-right: 0; /* Remove right margin for stacked items */
    
    
    text-decoration: none;
  }


  .hamburger-menu {
    display: block;
    position: absolute;
    top: 0.5rem; /* Adjust as necessary */
    right: 20px; /* Adjust as necessary */

    z-index: 20; /* Above other content */
    cursor: pointer;
  }

  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    
    transition: 0.4s;
  }


  nav ul li a.active {
    padding: 0.6rem; /* Larger padding for easier touch */
    margin-bottom: 0.5rem;
    font-size: 1rem;
    margin-right: 0; /* Remove right margin for stacked items */
  }


  nav ul {
    display: none; /* Hidden by default */
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center align the links */
    width: 100%; /* Full width */
    position: fixed; /* Fixed position on the top */
    top: 3rem; /* Aligns below the header */
    left: 0;
    right: 0;
    background-color: rgba(20, 23, 28, 0.95); /* Semi-transparent background */
    margin: 0;
    padding-top: 0; /* Space at the top */
    padding-bottom: 0; /* Space at the bottom */
    z-index: 1000;
  }

  nav ul.showa{
    display: flex; /* Show the nav when the class is added */
  }

  nav ul li {
    padding: 0 0;
 /* Add padding to each link */
    justify-content: center; /* Center the items on small screens */
    padding-left: 0; /* Remove padding on small screens */
  }

  nav ul li a {
    display: block; /* Make the link fill the container */
    font-size: 1rem; /* Increase font size for touch accessibility */
    padding: 0.6rem; /* Larger padding for easier touch */
    margin-bottom: 0.5rem;
    margin-right: 0; /* Remove right margin for stacked items */
  }
}

body.no-scroll {
  overflow: hidden;
}
