body, html {
    height: 100%;
    margin: 0;
  }
  
  .achievementsbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use full screen height to center vertically */
    background-color: transparent; /* No background */
  }
  
  .swiper-container {
    width: 80%;
    max-width: 600px; /* Adjust based on your preference */
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background-color: #fff; /* Slide background - can be set to transparent if needed */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    padding: 20px; /* Padding for content inside slides */
  }
  
  /* Navigation and Pagination customization for a neater look */
  .swiper-button-prev, .swiper-button-next {
    color: #000;
  }
  
  .swiper-pagination-bullet {
    background: #000;
  }
  
  /* Additional styles for navigation bar to ensure it complements the modern look */
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff; /* Or any color that matches your design */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Consistency with slide shadow */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000; /* Adjust based on your theme */
    padding: 0 15px;
  }
  
  .hamburger-menu {
    display: none; /* Hide hamburger menu by default, show via media queries on smaller screens if needed */
  }
  